
<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'/>

<canvas id="canvas"></canvas>

<div id="content">
    <h1>Happy Birthday, Liz! <span id="next">></span></h1>
    <h2>Best wishes from Chicago :)</h2>
</div>

<div id="cover">
</div>
