
<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'/>

<canvas id="canvas"></canvas>

<div id="content">
    <h1>Happy Birthday, Liz! <span id="next">></span></h1>
    <h2>Best wishes from Chicago :)</h2>

    <iframe src="https://www.youtube.com/embed/bJ7B9x027uc?rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="0" width="560" height="315" ></iframe>
</div>



<div id="cover">
</div>
