<!-- NOTE: THIS PAGE NOW OBSELETE -->



<!DOCTYPE html>
<head>
</head>
<body>
    <h1> List of forums: </h1>
    <% @forums.each do |forum| %>
        <hr>
        <h3><%= link_to forum.name, forum_path(id: forum.id) %></h3>
        <p><%= forum.description %></p>
        <% if User.find(session[:user_id])[:email] == "VjiaoBlack@gmail.com" %>
            <%= link_to "Delete", forum_path(forum), method: :delete %>
        <% end %>
        <hr>

    <% end %>


        <% if session[:user_id] %>

    <h3><%= link_to "Create a Forum!", new_forum_path %></h3>
    <% end %>
</body>
</html>
