<h1>Hey, Guys!</h1>
<h2>Welcome to Victor's forum thingy.</h2>
<h3>As you might have noticed, there's no CSS. Oh well. Too bad.</h3>
<h4>Deal with it.</h4>
<%= link_to "Ah well. Whatever. Take me to the forum.", controller: "forums" %>
