/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .

 */

@font-face {
    font-family: "LeagueGothic";
    src: font_url('LeagueGothic-Regular.otf');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario';
    src: font_url('Rosario-Regular.ttf');

    font-weight: normal;
    font-style: normal;
}


$dark:      #754;
$light:     #deb;
$shine:     #efe;
$shadow:    #732;
$emphasis:  #B60;
$bold:      #adb;

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: $light;
}

a {
    color: $emphasis;
    text-decoration: none;
    font-family: "Rosario";
}

a:hover {
    color: $shadow;
}

h1, h2, h3, h4, h5, h6, h1 * {
    margin-top: 0px;
    color: $shadow;
    font-family: "LeagueGothic";
}

h1 {
    font-size: 48px;
}

p, form, input {
    font-family: "Rosario";
    color: $shadow;
}



input[type="submit"] {
    background-color: $shine;
    border-width: 1px;
    border-color: $bold;
    box-shadow: 0 0 0;
}


#bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #5;
    background-image: image-url("Boardwalk.jpg");
    background-size: cover;
    -webkit-filter: brightness(50%);
    opacity: .5;
}

#head, #body {
    margin: auto;
    width: 70%;
    min-width: 30em;
    background-color: rgba($shine, .7);
    margin-bottom: 40px;
    margin-top: 20px;
}

#body {
    min-height: 20em;

}

#head-content, #body-content {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 20px;

}

#title {
    padding-left: 50px;
    text-align: center;
}

#login, #register, #logout{
    float: right;
    margin-left: 20px;
}
